<div class="wrapper">
  <div class='content container'>
  <div class="d-flex row title justify-content-between align-items-center" style="margin-top: 2rem; width: 100%;">
    <h3>My Recordings</h3>
    <%= link_to recordings_new_path do %><h2 class="far fa-plus-square"></h2><% end %>
  </div>
      <%= paginate @recordings %>
    <% unless @recordings.empty?%>
    <div class="container" style="margin-top: 2rem;">
      <% @recordings.each do |recording| %>
        <div class='row recording-title'>
            <div class="col-sm-12 col-xs-12"><%= recording.title.nil? ? "Untitled recording" : recording.title  %></div>
            <div class='col-sm-12 col-xs-12' style="font-weight: 300;"><%= recording.created_at.strftime("%b %e, %l:%M %p") %></div>
          </div>
        <div class='row d-flex justify-content-between recording-box' >
          <div class="col-2 d-flex justify-content-center align-items-center play">
            <h1 class="far fa-play-circle" style="cursor: pointer;"></h1>
          </div>
          <div class="col-sm-8">
            <div class="waveform" id="recording-<%=recording.id%>" data-src-url="<%= recording.url %>">
              </div>
            </div>
          <div class="col-2 d-flex justify-content-center align-items-center">
            <%= button_to delete_recording_path(recording),
      method: :delete, class: 'white' do %><h2 class="far fa-trash-alt"></h2><% end %>
          </div>
        </div>
        

      <% end %>
        </div>
    <% else %>
    <div class='row'>
      <div class='col-sm-12' style='margin-top: 3rem;'>
        <h5>You don't have any recordings yet</h5>
      </div>
    <% end %>
      <%= paginate(@recordings) %>
  </div>
  </div>
  </div>
</div>



  <script src="https://unpkg.com/wavesurfer.js"></script>

<script>
  recordingDivs = document.querySelectorAll('.waveform')
  recordingDivs.forEach((div, index) => {
    let wavesurfer = WaveSurfer.create({
    container: `#${div.id}`,
    waveColor: '#ff5757',
    progressColor: '#6E2B2B',
    barWidth: 1,
    responsive: true,
    scrollParent: true
});
  let wavesurferUrl = div.getAttribute('data-src-url');
  wavesurfer.load(wavesurferUrl);
  wavesurfer.on('ready', function() {
    let playButton = div.parentNode.parentNode.firstElementChild.firstElementChild;
    playButton.addEventListener('click', (event) => {
      wavesurfer.playPause();
      playButton.classList.toggle('fa-play-circle')
      playButton.classList.toggle('fa-pause-circle')
    wavesurfer.on('finish', function() {
      playButton.classList.remove('fa-pause-circle')
      playButton.classList.add('fa-play-circle')
    })
    });
  })
  });

  
</script>


