<div class="wrapper">
  <div class='container'>
    <h1>Recordings for <%= current_user.email%></h1>
    <% unless @recordings.nil?%>
      <% @recordings.each do |recording| %>
        <div class='row justify-content-center'>
          <div class="col-6">
            <div class="waveform" id="recording-<%=recording.id%>" data-src-url="<%= recording.url %>">
              <div class="recording-title" contenteditable="true">
                <%= recording.title.nil? ? "Untitled Recording" : recording.title %>
              </div>
              <input type='button' onclick='saveEdits(this.parentNode.id)' value='save' />
              <div>
                <%= recording.created_at.strftime("%b %e, %l:%M %p") %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<form enctype="multipart/form-data" name="titleform">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

  <script src="https://unpkg.com/wavesurfer.js"></script>

<script>
  recordingDivs = document.querySelectorAll('.waveform')
  recordingDivs.forEach((div) => {
    let wavesurfer = WaveSurfer.create({
    container: `#${div.id}`,
    waveColor: 'violet',
    progressColor: 'purple'
});
  let wavesurferUrl = div.getAttribute('data-src-url');
  wavesurfer.load(wavesurferUrl);
  });

  function saveEdits(divId) {
    const form = document.forms.namedItem("titleform");
    const editElem = document.getElementById(divId);
    const userVersion = editElem.firstChild.innerHTML;
    console.log(userVersion);
    const formData = new FormData(form);
    formData.append('recording[title]', userVersion);
    const request = new XMLHttpRequest();
    let idNum = divId.match(/[0-9]+/)[0];
    request.open("PATCH", `/recordings/${idNum}`);
    request.send(formData);
  }
</script>
