<nav class="navbar fixed-top <%= @transparent_navbar ? '' : 'navbar-dark-bg' %> d-flex">
  <a class="logo" href="/"><h2><i class="fas fa-microphone" style="padding-right: 1rem;"></i> speakitt</h2></a>
  <button class="navbar-toggler" data-toggle="collapse" type="button" data-target="#thetarget">
      <i class="fas fa-bars"></i>

  </button>
  <div class="collapse navbar-collapse" id="thetarget">
  <ul class="nav d-flex justify-content-end align-items-baseline">
  <% unless user_signed_in? %>
    <li class="nav-item">
      <%= link_to new_user_session_path do %><button class="nav-link">Log in</button><% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_user_registration_path do %><button class="nav-link" id="sign-up">Sign up</button><% end %>
    </li>
  <% else %>
    <li class="nav-item"><a class="nav-link">
      <%= link_to recordings_path do %>My Recordings<% end %></a>
    </li>
     <li class="nav-item"><button class="nav-link">
      <%= link_to destroy_user_session_path, method: "delete" do %>Sign Out<% end %></button>
    </li>
  <% end %>
  <% if user_signed_in? && current_user.teacher %>
  <li>
    <h3 class="fas fa-chalkboard-teacher" style="color: white;"></h3>
  </li>
  <% elsif user_signed_in? && current_user.teacher == false %>
  <li>
    <i class="fas fa-user-graduate" style="color: white; font-size: 2rem;"></i>
  </li>
  <% end %>
</ul>
  </div>
  
</ul>
</nav>